html, body {
    height: 100%;
    background: url('/static/img/forest.jpg') no-repeat center center fixed;
    -webkit-background-size:
    cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #ccc;
}

/* text color */

body, legend {
    color: #fff;
}

.outline {
	color: #fff;
    text-shadow:
    -1px -1px 0 darkgreen,
    1px -1px 0 darkgreen,
    -1px 1px 0 darkgreen,
    1px 1px 0 darkgreen;
}

/* panels */

.panel {
    background-color: transparent;
}

.panel-default > .panel-heading,
.list-group-item,
.panel-default > .panel-heading a:hover,
.panel-default > .panel-heading a:active,
.panel-default > .panel-heading a:focus,
.panel-default > .panel-heading a:focus:active   {
    color: #fff;
    background-color: #0f4600;
}

.panel-default > .panel-body, .level-panel, .setup-panel, .description-panel {
    color: #fff;
    background-color: rgba(138, 87, 0, 0.64);
    border-color: #000000;
}

.spell-panel {
    color: #ffffff;
    background-color: transparent;
    border-color: #000000;
}

/* btn-default */

.btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
    color: #fff;
    background-color: #AA6D39;
    border-color: #AA6D39;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #7D4413;
    border-color: #7D4413;
}

/* btn-primary */

.btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    color: #fff;
    background-color: #629696;
    border-color: #629696;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #216760;
    border-color: #216760;
}

/* btn-danger */

.btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled,
.btn-danger.disabled.active,
.btn-danger.disabled.focus,
.btn-danger.disabled:active,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger[disabled],
.btn-danger[disabled].active,
.btn-danger[disabled].focus,
.btn-danger[disabled]:active,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger.active,
fieldset[disabled] .btn-danger.focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:hover {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #ab0000;
    border-color: #ab0000;
}

/* letters */

span.label-default {
    cursor: pointer;
    background-color: rgba(138, 87, 0, 0.64);
    border-radius: 0px;
    border: 1px solid #ddd;
    color: #629696;
}

span.label-default:hover {
    color: #fff;
    background-color: #629696;
    border: 1px solid #ddd;
}

span.label-primary {
    border-radius: 0px;
    border: 1px solid #ddd;
    background-color: #629696;
}

/* pagination */

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: #fff;
    cursor: default;
    background-color: #629696;
    border: 1px solid #ddd;
}

.pagination>li>a, .pagination>li>span {
    color: #629696;
    background-color: rgba(138, 87, 0, 0.64);
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #fff;
    background-color: #629696;
    border: 1px solid #ddd;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    background-color: rgba(138, 87, 0, 0.64);
}

/* tabs */

.nav-tabs {
    border-bottom: 1px solid #629696;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
    color: #fff;
    background-color: #629696;
    border: 1px solid #629696;
    border-bottom-color: transparent;
}

.nav-tabs>li>a {
    color: #629696;
    background-color: rgba(138, 87, 0, 0.64);
    border-bottom-color: transparent;
}

/* highlight */

::-moz-selection { /* Code for Firefox */
    color: lime;
    background: #008686;
}

::selection {
    color: lime;
    background: #008686;
}

.form-control:focus, .btn:focus, .btn:focus:active, a:focus {
    border-color: #00afaf;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px  rgb(0, 194, 194);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(0, 194, 194);
}

:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px  rgb(0, 194, 194);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(0, 194, 194);
}

select.decorated option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
}

/* inputs */

.form-control {
    color: #fff;
    background-color: rgba(50,50,50,.75);
}

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #629696;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #629696;
   opacity: 1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #629696;
   opacity: 1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #629696;
}
.form-control:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #629696;
}

/* navbar */

.navbar-inverse {
    background-color: #552700;
    border: 4px solid #008800;
}

.navbar-inverse .navbar-brand {
    color: #008800;
}

.navbar-inverse .navbar-nav>li>a {
    color: #008800;
}

/* modal */

.modal-content {
    background-color: rgba(15,70,0,.75);
    border: 1px solid #fff;
    color: #629696;
}

/* misc */

a {
    color: #629696;
}

a:hover, a:active, a:focus:active, a:focus {
    color: #216760;
}
