<!doctype html>
<html>
	<head>
		<title>Setup</title>
		{{ template "head.tmpl" . }}
		<link rel="stylesheet" href="/static/css/setup.css" charset="utf-8">
	</head>
	<body>
        {{ template "nav.tmpl" }}
        <div class="container">
			{{ .spellId }}
            {{ template "alerts.tmpl" . }}
			<div class="col-lg-12">
				<form class="form-horizontal" action="/save/spell" method="post">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label class="control-label col-lg-3">Area</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" name="area" placeholder="Area" {{ if .spell}}value="{{ .spell.Area }}"{{ end }}>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Descriptors</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" name="descriptors" placeholder="Descriptors" {{ if .spell}}value="{{ .spell.Descriptors }}"{{ end }}>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Duration</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" name="duration" placeholder="Duration" {{ if .spell}}value="{{ .spell.Duration }}"{{ end }}>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Effect</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" name="effect" placeholder="Effect" {{ if .spell}}value="{{ .spell.Effect }}"{{ end }}>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Name</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" name="name" placeholder="Name" {{ if .spell}}value="{{ .spell.Name }}"{{ end }}>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Rulebook</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" name="rulebook" placeholder="Rulebook" {{ if .spell}}value="{{ .spell.Rulebook }}"{{ end }}>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Page</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" name="page" placeholder="Page" {{ if .spell}}value="{{ .spell.Page }}"{{ end }}>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label class="control-label col-lg-3">Saving Throw</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" name="savingThrow" placeholder="Saving Throw" {{ if .spell}}value="{{ .spell.SavingThrow }}"{{ end }}>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">School</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" name="school" placeholder="School" {{ if .spell}}value="{{ .spell.School }}"{{ end }}>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Spell Range</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" name="spellRange" placeholder="Spell Range" {{ if .spell}}value="{{ .spell.SpellRange }}"{{ end }}>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Spell Resistance</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" name="spellResistance" placeholder="Spell resistance" {{ if .spell}}value="{{ .spell.SpellResistance }}"{{ end }}>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Subschool</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" name="subschool" placeholder="Subschool" {{ if .spell}}value="{{ .spell.Subschool }}"{{ end }}>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Target</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" name="target" placeholder="Target" {{ if .spell}}value="{{ .spell.Target }}"{{ end }}>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Casting Time</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" name="castingTime" placeholder="Casting Time" {{ if .spell}}value="{{ .spell.CastingTime }}"{{ end }}>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<legend>Spell Components</legend>
						<div class="col-lg-6">
							<div class="form-group">
								<label class="control-label col-lg-3">Arcane Focus</label>
								<div class="col-lg-9">
									<label class="radio-inline">
										<input type="radio" name="arcaneFocusComponent" value="true" {{ if .spell.ArcaneFocusComponent }}checked{{ end }}> Yes
									</label>
									<label class="radio-inline">
										<input type="radio" name="arcaneFocusComponent" value="false" {{ if eq .spell.ArcaneFocusComponent false }}checked{{ end }}> No
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Currupt</label>
								<div class="col-lg-9">
									<label class="radio-inline">
										<input type="radio" name="corruptComponent" id="" value="true" {{ if .spell.CorruptComponent }}checked{{ end }}> Yes
									</label>
									<label class="radio-inline">
										<input type="radio" name="corruptComponent" id="" value="false" {{ if eq .spell.CorruptComponent false }}checked{{ end }}> No
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Divine Focus</label>
								<div class="col-lg-9">
									<label class="radio-inline">
										<input type="radio" name="divineFocusComponent" id="" value="true" {{ if .spell.DivineFocusComponent }}checked{{ end }}> Yes
									</label>
									<label class="radio-inline">
										<input type="radio" name="divineFocusComponent" id="" value="false" {{ if eq .spell.DivineFocusComponent false }}checked{{ end }}> No
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Material</label>
								<div class="col-lg-9">
									<label class="radio-inline">
										<input type="radio" name="materialComponent" id="" value="true" {{ if .spell.MaterialComponent }}checked{{ end }}> Yes
									</label>
									<label class="radio-inline">
										<input type="radio" name="materialComponent" id="" value="false" {{ if eq .spell.MaterialComponent false }}checked{{ end }}> No
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Meta Breath</label>
								<div class="col-lg-9">
									<label class="radio-inline">
										<input type="radio" name="metaBreathComponent" id="" value="true" {{ if .spell.MetaBreathComponent }}checked{{ end }}> Yes
									</label>
									<label class="radio-inline">
										<input type="radio" name="metaBreathComponent" id="" value="false" {{ if eq .spell.MetaBreathComponent false }}checked{{ end }}> No
									</label>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label class="control-label col-lg-3">Somatic</label>
								<div class="col-lg-9">
									<label class="radio-inline">
										<input type="radio" name="somaticComponent" id="" value="true" {{ if .spell.SomaticComponent }}checked{{ end }}> Yes
									</label>
									<label class="radio-inline">
										<input type="radio" name="somaticComponent" id="" value="false" {{ if eq .spell.SomaticComponent false }}checked{{ end }}> No
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">True Name</label>
								<div class="col-lg-9">
									<label class="radio-inline">
										<input type="radio" name="trueNameComponent" id="" value="true" {{ if .spell.TrueNameComponent }}checked{{ end }}> Yes
									</label>
									<label class="radio-inline">
										<input type="radio" name="trueNameComponent" id="" value="false" {{ if eq .spell.TrueNameComponent false }}checked{{ end }}> No
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Verbal</label>
								<div class="col-lg-9">
									<label class="radio-inline">
										<input type="radio" name="verbalComponent" id="" value="true" {{ if .spell.VerbalComponent }}checked{{ end }}> Yes
									</label>
									<label class="radio-inline">
										<input type="radio" name="verbalComponent" id="" value="false" {{ if eq .spell.VerbalComponent false }}checked{{ end }}> No
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">XP</label>
								<div class="col-lg-9">
									<label class="radio-inline">
										<input type="radio" name="xPComponent" id="" value="true" {{ if .spell.XPComponent }}checked{{ end }}> Yes
									</label>
									<label class="radio-inline">
										<input type="radio" name="xPComponent" id="" value="false" {{ if eq .spell.XPComponent false }}checked{{ end }}> No
									</label>
								</div>
							</div>
						</div>
					</div>
					<legend>Description</legend>
					<div class="col-lg-12">
						<div class="form-group">
							<textarea name="descriptionHtml" class="form-control" style="resize: none;" rows="10">{{ if .spell }}{{ .spell.DescriptionHtml }}{{ end }}</textarea>
						</div>
					</div>
						<label class="text-left control-label col-lg-3" style="text-align:left;">Allow others to view this spell</label>
						<div class="col-lg-2">
							<label class="radio-inline">
								<input type="radio" name="public" id="" value="true" {{ if .spell }}{{ if .spell.Public }}checked{{ end }}{{ else }}checked{{ end }}> Yes
							</label>
							<label class="radio-inline">
								<input type="radio" name="public" id="" value="false" {{ if eq .spell.Public false }}checked{{ end }}> No
							</label>
						</div>
					<button class="btn btn-primary">Save</button>
					{{ if .spell }}
						<input type="hidden" name="id" value="{{ .spellId }}">
					{{ end }}
				</form>
			</div>
        </div>
		<br><br>


        {{ template "scripts.tmpl" }}
		<script src="/static/js/picked.js" charset="utf-8"></script>
		<script src="/static/js/allSpells.js" charset="utf-8"></script>
	</body>
</html>
