<!doctype html>
<html>
	<head>
		<title>Setup</title>
		{{ template "head.tmpl" . }}
	</head>
	<body>
        {{ template "nav.tmpl" }}

        <div class="container-fluid">
            {{ template "alerts.tmpl" . }}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-group" id="spdAccordion" role="tablist" aria-multiselectable="true">
						{{ if .user.Data.PowerPoints}}
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<form class="form-horizontal" action="/user/pp" method="post">
										<label for="pp" class="col-lg-2 control-label">Total Power Points</label>
										<div class="col-lg-2">
											<input type="number" name="totalPP" class="form-control" placeholder="Power Points" value="{{ .setup.Data.TotalPowerPoints }}">
										</div>
										<input type="hidden" name="userId" value="{{ .user.Id }}">
										<input type="hidden" name="setupId" value="{{ .setup.Id }}">
										<button class="btn btn-default">Save</button>
									</form>
								</div>
							</div>
						{{ else }}
	                        <div class="panel panel-default" ng-if="!user.powerPoints">
	                            <div class="panel-heading">
	                                <h4 class="panel-title">
	                                    <a data-toggle="collapse" data-parent="#spdAccordion" href="#" data-target="#spdCollapse">
	                                        Spells Per Day Click to Edit
	                                    </a>
	                                </h4>
	                            </div>
	                            <div id="spdCollapse" class="panel-collapse collapse">
	                                <div class="panel-body setup-panel">
	                                    <form name="spdForm" action="/user/spd" method="post">
	                                        {{ range $level, $spd := .setup.Data.SpellsPerDay }}
	                                            <div class="col-lg-2 {{ if eq $level 0 5 }}col-lg-offset-1{{ end }}">
	                                                <div class="form-group">
	                                                    <label>Level {{ $level }}</label>
	                                                    <input type="number" min=0 class="form-control"  name="level-{{ $level }}" placeholder="Level {{ $level }}" required="true" value="{{ $spd }}">
	                                                </div>
	                                            </div>
	                                        {{ end }}
											<input type="hidden" name="userId" value="{{ .user.Id }}">
											<input type="hidden" name="setupId" value="{{ .setup.Id }}">
	                                    	<div class="col-lg-offset-1 col-lg-10">
	                                        	<button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#spdCollapse">Save</button>
	                                    	</div>
										</form>
	                                </div>
	                            </div>
	                        </div>
						{{ end }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7">
					<div class="row">
						<div id="letters" class="col-lg-12 text-center"></div>
					</div>
					<br>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="outline">Pages</label>
                            <label class="pull-right outline">Pages Size</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <ul id="paginator" class="pagination pagination-sm"></ul>
						</div>
						<div class="col-lg-3">
							<a href="/add/spell" class="btn btn-default btn-sm">Add Spell</a>
                            <div class="pull-right">
                                <select id="pageSize" class="form-control input-sm decorated">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
						<div class="col-lg-8">
							<ul class="nav nav-tabs">
								<li role="presentation"{{ if eq .spellCat "dndtool" }}class="active"{{end}}><a href="/setup">DNDTools</a></li>
								<li role="presentation"{{ if eq .spellCat "userC" }}class="active"{{end}}><a href="/setup?cat=userc">My Custom</a></li>
								<li role="presentation"{{ if eq .spellCat "allC" }}class="active"{{end}}><a href="/setup?cat=allc">All Custom</a></li>
							</ul>
						</div>
						<div class="col-lg-4">
							<input class="form-control" type="search" id="search" placeholder="Search">
						</div>
                    </div>
					<br>
					<div id="spells">
						<div class="text-center">
							<p class="lead">
								<strong>Loading Spells...</strong><br/>
							</p>
							<i class="fa fa-5x fa-circle-o-notch fa-spin"></i>
							<p class="lead">One moment please.</p>
						</div>
					</div>
                </div>
                <div class="col-lg-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Spells Known/Favorite Spells
                        </div>
                        <div class="panel-body">
                            <div class="panel-group" id="spellAccordion" role="tablist" style="margin-bottom:0px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ template "scripts.tmpl" }}
		<script type="text/javascript">
			var userId = {{ .user.Id }}
			var letter = 'a';
			var spells = {{ if .spells }}{{.spells | json }}{{ else }}[]{{ end }};
			var spellSet = [];
			var picked = {{ if .picked }}{{ .picked |json }}{{ else }}[]{{ end }};
			var cat = '{{.spellCat}}';
			var searchText = '';
		</script>
		<script src="/static/js/picked.js" charset="utf-8"></script>
		<script src="/static/js/allSpells.js" charset="utf-8"></script>
		<script src="/static/js/search.js" charset="utf-8"></script>
		<script src="/static/js/util.js" charset="utf-8"></script>
		<script type="text/javascript">

			$(document).ready(function() {
				genLetters();
				setSpellSet();
				genResults(paginate(spellSet));
				$('span.letter').click(function() {
					l = $(this);
					$('span.letter').removeClass('label-primary');
					$('span.letter').addClass('label-default');
					l.removeClass('label-default');
					l.addClass('label-primary');
					test = l;
					letter = l.attr('data-let');
					setSpellSet();
					genResults(paginate(spellSet));
				});
				renderPicked();

				$('input#search').on('keyup change', function () {
					searchText = $('input#search').val().toLowerCase();
					search();
				});

			});

		</script>
	</body>
</html>
